<h2> Sign Up </h2>
<% if (typeof message != "undefined") { %>
   <div class="error-message"><%= message %></div>
 <% } %>
<form action="/auth/signup" method="POST">
  <div>
    <label for="username"> Name </label>
    <input type="text" name="username" id="name"
      placeholder="Jon Snow">
  </div>

  <div>
    <label for="email"> Email </label>
    <input type="email" name="email" id="email"
      placeholder="jon@wannabeastark.com">
  </div>

  <div>
    <label for="password"> Password </label>
    <input type="password" name="password" id="password"
      placeholder="••••••••••••">
  </div>



  <!-- <div>
    <h3>Upload your photo</h3>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="photo">
      <input type="submit" value="Save">
    </form>
  </div> -->

  <button type="submit">Signup</button>
</form>

<p>
  Already have an account?
  <a href="/auth/login">
    Log in.
  </a>
</p>
