

<div class="container">
  <h1 class=" fa fa-user center-align">Complete your profile</h1><br>
  <h3>We also hate formalities, but please it only takes few seconds!</h3>
  <p>
    <%= user.username %>
  </p>
  <p>
    <%= user.email %>
  </p>
  <form action="/profile/completeprofile" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" class="form-control" name="fullName">
    </div>
    <div class="form-group">
      <label>Birth Date</label>
      <input type="text" class="form-control" name="email">
    </div>
    <div class="col-sm-4">

      <div class="file-field input-field">
        <div class="btn">
          <span>Show us your pretty face</span>
          <input id="avatar-1" name="avatar-1" type="file" class="file-loading" required>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    <div>
      <div class="center-btn">
        <button class="btn waves-effect waves-light" type="submit" name="action" value="Submit">ACTUALIZAR
          <i class="material-icons right">send</i>
        </button>
        <br></br>
      </div>
    </div>
    <input id="complete" type="text" name="complete" visibility="hidden">

  </form>
</div>
</div>
</div>

<div class="row">
  <div class="input-field col s12">
    <label for="gender">Gender</label>
    <div class="input-field col s6">
      <input type="checkbox" id="test5" />
      <label for="test5">Female</label>
    </div>
    <div class="input-field col s6">
      <input type="checkbox" id="test6" checked="checked" />
      <label for="test6">Male</label>
    </div>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <label for="birthday">Birth Date</label>
    <input id="birthday" type="date" class="validate" name="birthday">
  </div>
</div>


</div>
</div>


<button type="submit" name="action" value="Submit">Go to profile</button>
</form>
</div>

<button><a href="/profile">PASO DE FORMALIDADES QUE OS DEN!</a></button>
