Private page
<% if (user) { %>
  <div>
    <a href="/">Index</a>
  </div>
<% } %>

<h1>Hey there <%=user.name%>!</h1>
<button name="button"><a href="profile/<%= user._id %>/edit/">Edit Profile</a></button>
<button name="button"><a href="/auth/logout">Log out</a></button>

<br>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
   <div id="map"></div>
