Private page
<% if (user) { %>
  <div>
    <a href="/">Index</a>
  </div>
<% } %>

<h1>Hey this is your private profile <%=user.name%></h1>

<p></p>
<p>
  Log out
  <a href="/auth/logout">
      Log out
  </a>
</p>
