Private page
<% if (user) { %>
  <div>
    <a href="/">Index</a>
  </div>
<% } %>

<h1>Hey there <%=user.name%>!</h1>
<div class="container">
  <input id="idRest" type="text" name="" value="">
  <a class="btn" href="profile/<%= user._id %>/edit/">Edit Profile</a>
  <a class="btn" href="/profile/logout">Log out</a>

</div>
<ul>
<% for(var i = 0; i < restaurants.length; i++) { %>
  <li class="restaurant"><span><%= restaurants[i].name %></span><input type="range" min="0" max="5" step="1"></input></li>
  <li>
    <form action="/restaurant/<%= restaurants[i]._id %>/delete" method="POST">
      <button id="dltButton" type="submit">Delete</button>
    </form>
  </li>
<% } %>
</ul>
<br>
