
  <form action="/profile/edit"  enctype="multipart/form-data" method="post">
    <div>
      <label> Username </label>
      <input type="text" name="username" id="user-input"
        value="<%=user.name%>">
    </div>
    <div>
      <label> Email </label>
      <input type="text" name="email" id="user-input"
        value="<%=user.email%>">
    </div>
    <div>
      <label> Full Name </label>
      <input type="text" name="fullname" id="user-input"
        placeholder="Full Name">
    </div>

    <div>
      <label> Gender </label>
      <label> Female </label>
      <input type="checkbox" name="fullname" id="user-input"
        placeholder="Full">
        <label> Male </label>
        <input type="checkbox" name="fullname" id="user-input"
          placeholder="Full">
    </div>

    <div>
      <label for="user-input"> Birth Date </label>
      <input type="date" name="birthday" id="user-input"
        placeholder="Full">
    </div>


    <div>
      <label for="file">Show us your pretty face</label>
     <input type="file" id="file" name="photo">
    </div>

    <button> Update your Info </button>
  </form>
