<div class="index">

  <div class="placelist">
    <h1>Placelist</h1>
  </div>

  <div class="signlog">
    <button class="logsign"><a href="auth/signup">Signup</a></button>
    <button class="logsign"><a href="auth/login">Login</a></button>
  </div>
</div>
