<h1>Welcome to Second Project</h1>
<p>Welcome to
  <%= title %>
</p>

<a href="/auth/signup">Signup</a>
<a href="auth/login">Login</a>
<a href="auth/logout">Log out</a>

<p>If logged in you cannot see this page! </p>
<h3>My First Map</h3>

<div id="map"></div>
