<!DOCTYPE html>
<html>

<head>
  <title>Placelist</title>
  <link rel="icon" type="image/png" href="/images/web_favicon.png">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, user-scalable=no">

</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Places</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/profile/edit">Edit profile</a></li>
        <li><a href="/restaurant/search">Search Restaurant</a></li>
        <li><a href="/profile/logout">Logout</a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/profile/edit">Edit profile</a></li>
        <li><a href="/restaurant/search">Search Restaurant</a></li>
        <li><a href="/profile/logout">Logout</a></li>

      </ul>
    </div>
  </nav>

  <main class="main">
    <%- body-%>
  </main>
  <footer class="footer">
  </footer>

  <script type="text/javascript" src="dist/jquery/jquery.js" charset="utf-8"></script>
  <script type="text/javascript" src="dist/materialize/js/materialize.js"></script>
  <script src="javascripts/main.js" charset="utf-8"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE3wzxrBK16zMljFyGq294DTotwbl85TY&libraries=places&callback=initAutocomplete" async defer></script>
  <script src="/javascripts/googlePlaces.js"></script>

</body>

</html>
