<!DOCTYPE html>
<html>
  <head>
    <title>Placelist</title>
    <link rel="icon" type="image/png" href="/images/web_favicon.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <%- body %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE3wzxrBK16zMljFyGq294DTotwbl85TY&libraries=places&callback=initAutocomplete"
    async defer></script>
    <script  src="/javascripts/googlePlaces.js"></script>
</body>
</html>
