<!DOCTYPE html>
<html>
  <head>
    <title>Placelist</title>
    <link rel="icon" type="image/png" href="/images/web_favicon.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no">

  </head>
  <body>
    <header class="header">
      App
    </header>
    <main class="main">
      <%- body %>
    </main>
    <footer class="footer">
    </footer>

    <script src="/javascripts/googlePlaces.js"></script>
</body>
</html>
