<!DOCTYPE html>
<html>

<head>
  <title>Placelist</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="icon" type="image/png" href="/images/web_favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Old+Standard+TT:400,700|Quicksand:400,700|Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Francois+One|Sedgwick+Ave" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if(user !== undefined) {%>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Placelist</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/profile/edit">Edit profile</a></li>
        <li><a href="/restaurant/search">Search Restaurant</a></li>
        <li><a href="/profile/logout">Logout</a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/profile/edit">Edit profile</a></li>
        <li><a href="/restaurant/search">Search Restaurant</a></li>
        <li><a href="/profile/logout">Logout</a></li>

      </ul>
    </div>
  </nav>
<% } %>
  <main class="main">
    <%- body-%>
  </main>


</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE3wzxrBK16zMljFyGq294DTotwbl85TY&libraries=places&callback=initAutocomplete" async defer></script>
<script src="/javascripts/main.js" charset="utf-8"></script>
<script src="/javascripts/googlePlaces.js"></script>
</html>
