<!DOCTYPE html>
<html>
  <head>
    <title>Placelist</title>
    <link rel="icon" type="image/png" href="/images/web_favicon.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/dist/materialize/css/materialize.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">

  </head>
  <body>
    <header class="header">
      App
    </header>
    <main class="main">
      <%- body-%>
    </main>
    <footer class="footer">
    </footer>

<script type="text/javascript" src="/dist/jquery/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="dist/materialize/js/materialize.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE3wzxrBK16zMljFyGq294DTotwbl85TY&libraries=places&callback=initAutocomplete"
    async defer></script>
    <script src="/javascripts/googlePlaces.js"></script>


</body>
</html>
