<h1><%= restaurant.name %></h1>
<form action="/rating/add/<%= restaurant._id %>" enctype="multipart/form-data" method="post">

  <div>
    <label for="food">Food</label>
    <p class="range-field">
      <input type="range" id="food" name="food" min="0" step="1" max="10" />
    </p>
  </div>

  <div>
    <label for="price">Price</label>
    <p class="range-field">
      <input type="range" id="price" name="price" min="0" step="1" max="10" />
    </p>
  </div>

  <div>
    <label for="ambience">Ambience</label>
    <p class="range-field">
      <input type="range" id="ambience" name="ambience" min="0" step="1" max="10" />
    </p>
  </div>

  <div>
    <label for="customerService">Customer Service</label>
    <p class="range-field">
      <input type="range" id="customerService" name="customerService" min="0" step="1" max="10" />
    </p>
  </div>

   <label for="comment">comment</label>
   <input type="text" name="comment"/>
   <br>

   <label for="occasion">Occasion</label>
   <input type="text" name="occasion"/>
   <br>

   <div>
     <label for="file">Show us your pretty face</label>
    <input type="file" id="file" name="photo">
   </div>

<button class="btn" type="submit" >Upload Rating</button>
</form>
