body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  height: 500px;
  width: 100%;
}

.nav-wrapper {
  background-color: #00BAB8
}
.logsign {
  border-radius:15px;
  background-color: #00BAB8;
  width: 90px;
  height: 60px;
  color: white;
  text-decoration: none;
}
.signlog {
  display: inline-block;
  padding-left: 85px;
  padding-top: 80px;
}

.index {
  background-image: url("../images/food.jpg");
  background-size: cover;
  width: 100%;
  height: 650px;
  display: inline-block;
}

.index a{
  color: white;
}

.placelist {
  margin-top: 100px;
  background-color: white;
  margin-right: 30px;
  margin-left: 30px;
  opacity: 0.8;
  border-radius: 5px;
}

.index h1 {
  color: #00BAB8;
  text-align: center;
  text-decoration-style: double;
}

button {
  border-radius: 15px;
  background-color: #00BAB8;
}
.controls {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        margin-left: 17px;
        margin-top: 10px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      .controls:focus {
        border-color: #4d90fe;
      }
      .title {
        font-weight: bold;
      }
      #infowindow-content {
        display: none;
      }
      #map #infowindow-content {
        display: inline;
      }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-image {
  background: #333;
  min-height: 80px;
  width: 100%;
}

.footer {
  background: #333;
  color: white;
  width: 100%;
  height: 40px;
}
.main {
  padding: 10px;
  min-height: calc(100vh - 100px);
}

.rate {
  padding: 10px;
  background: #333;
  color: white;
  border-radius: 2px;
  text-decoration: none;
  margin-top: 10px;
}

.controls {
  width: 100%;
  margin: 0;
  border-radius: 0;
  margin-bottom: 3px;
  padding: 25px 10px;
  color: gray;
  box-shadow: 0px 0px 1px 0px #736f6f;
}

ul {
  padding: 0;
  margin: 0;
}

.btn {
  padding: 10px;
  background: #333;
  color: white;
  border-radius: 2px;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
}
#idRest {
  padding: 10px;
  flex: 1;
}
.restaurant {
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid lightgray;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

#dltButton {
  padding: 10px;
  background: #333;
  color: white;
  border-radius: 2px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0;
}
#dltButton i {
  margin-right: 5px;
}

.profile-name{
  margin-left: 0%;
}

.icon-settings{
  margin-bottom: 5%;
}
.search-menu{
  border: 1px solid grey;
  width: 100%;
  text-align: center;
}

.user-name{
  text-align: center;
}
