body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

#place-h{
font-size: 4em;
text-transform: uppercase;
font-family: 'Francois One', sans-serif;
color: white;

}

#list-h{
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Sedgwick Ave', cursive;
}

h1{
  font-family: 'Francois One', sans-serif;
  color:#16CFA7;
}

.main .rate-form {
  padding: 14px;
}

 .log-in-div{
  margin: 5% 5%;
}

.log-in-div h1{
  text-align: center;
}

.signup h1{
  text-align: center;
}

.signup{
  margin: 5% 5%;

}
 .main .dashboard{
  padding:0px !important;
}

main{
  padding: 0px !important;
}

a{
  color:grey;
}

label {
  font-size: 20px;
}

#map {
  height: 500px;
  width: 100%;
}

.btn{
  background-color: #16CFA7 !important;
}

.nav-wrapper {
  background-color: #13CFB7;
}

.logsign {
  border-radius:25px;
  border-style: none;
  background-color: #00BAB8;
  margin-left: 25%;
  width: 60%;
  height: 30%;
  color: white;
  text-decoration: none;
}
.signlog {
  display: inline-block;
  padding-left: 85px;
  padding-top: 80px;
}

.index:after{
  content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/food.jpg");;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.index a{
  color: white;
}

.index{
  padding-top:20%;
  line-height: 1;
}

.placelist {
  margin-top: 100px;
  background-color: white;
  margin-right: 30px;
  margin-left: 30px;
  opacity: 0.8;
  border-radius: 5px;
}

.index h1 {
  color: #00BAB8;
  text-align: center;
  text-decoration-style: double;
}

button {
  border-radius: 15px;
  background-color: #00BAB8;
}

.controls {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        margin-left: 17px;
        margin-top: 10px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      .controls:focus {
        border-color: #4d90fe;
      }
      .title {
        font-weight: bold;
      }
      #infowindow-content {
        display: none;
      }
      #map #infowindow-content {
        display: inline;
      }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:1%;
}

.card-image {
  background: white;
  max-height: 30%;
  width: 100%;
}

.card-content{
  padding:0;
}

.footer {
  background: #333;
  color: white;
  width: 100%;
  height: 40px;
}
.main {
  padding: 10px;
  min-height: calc(100vh - 100px);
}

.rate {
  padding: 10px;
  background: #333;
  color: white;
  border-radius: 2px;
  text-decoration: none;
  margin-top: 10px;
}

.controls {
  width: 100%;
  margin: 0;
  border-radius: 0;
  margin-bottom: 3px;
  padding: 25px 10px;
  color: gray;
  box-shadow: 0px 0px 1px 0px #736f6f;
}

ul {
  padding: 0;
  margin: 0;
}

.btn {
  padding: 10px;
  background: #333;
  color: white;
  border-radius: 2px;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
}
#idRest {
  padding: 10px;
  flex: 1;
}
.restaurant {
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid lightgray;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

#dltButton {
  margin-left: 25%
  padding: 10px;
  width: auto;
  height: 20% !important;
  background: #16CFA7;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0;
}


.user-name{
  font-size: 1em;
  text-align: center;
  height: 20%;
  line-height: 20% !important;
}

.search-menu{
  width: 100%;
  text-align: center;
}


.menu-button {
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom:5%;
  background-color: white;
  border-top: 1px solid #16CFA7;
  border-bottom: 1px solid #16CFA7;
  border-radius: 0px;

}

.no-padding-button{
  padding:0px !important;
}

.front-icons{
  font-size: 30px !important;
}

h3 {
  line-height: 20%;
    font-family: 'Quicksand', sans-serif;
}
.icon-text-menu {
  font-size: 1.2em;
}

.rate-btn{
  width: 30%;
  margin-left: 33%;
  text-align: center;
  height: 40px;
  font-size: 1em;
  padding:0px;
}

.rate-btn i {
  font-size: 1.5em;
}

input .upload-pic-input{
font-family: 'Quicksand', sans-serif;
color: #DAE0E0;
}

.rateform-title h1{
  text-align: center;
}

.material-icons .rateform-title{
  font-size: 30px;
}

.see-rating-btn {
  border-radius: 60%;
  width: 30%;
  margin-left: 10%;
  background-color: #16CFA7;
  color:white;
}

.blue-box{
  background-color: #92F5D3;
  width: 100%;
  height: 30%;
  padding-top: 5%;
  margin-left: 0;
}
